
@{
    ViewBag.Title = "SessionNotFound";
    Layout = null;
}

<div class="container">
    <h1>(T_T)</h1>
    <h2>-------SessionNotFound-------</h2>
    <h3>You don't have any session or Your session has been expired.</h3>
    <h3>Please try <span><a class="loginLink" href="@Url.Action("Index","Home/Login")">login</a></span> again!</h3>
</div>

<link href="~/Content/SessionNotFound.css" rel="stylesheet">